@media screen and (max-width: 600px){
    .main-nav{
        flex-direction: column;

        padding: 10px;
        justify-content: center;

    }
    .banner{
        flex-direction: column;
        padding: 10px;
    }
    .funny{

    flex-direction: column;
} 
    .pic4{
    flex-direction: column;
    height: 100%;
    width: 100%;
    

}
 .tex4{
    flex-direction: column;
 }
 .b {
    flex-direction: column;
 }
 .horse{
    flex-direction: column;
    
 }
}

